.card__container {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 8px;
}

.card__action--delete {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #757575;
  cursor: pointer;
}

.card__details--date {
  font-size: 10px;
  font-style: italic;
}
